<?xml version="1.0"?>
<model>
  <name>stereo camera</name>
  <version>1.0</version>
  <sdf version='1.6'>stereo_camera.sdf</sdf>

  <author>
   <name>Kimberly McGuire</name>
   <email>knmcguire@users.noreply.github.com</email>
  </author>

  <description>
External Stereo Camera

  </description>
</model>
